@media screen and (max-width: 1320px)
  .life-space
    &__main
      width: 1088px
      padding: 12px 0 24px 24px
    &__title
      &-text
        width: 1088px
        padding-left: 22px
      &-left
        width: 768px
    &-logo
      height: auto


@media screen and (max-width: 1099px)
  .life-space
    &__title
      height: 339px
      &-text
        width: 989px
        padding-top: 156px
        padding-left: 9px
      &-bg
        width: 1100px
    &__h1
      font-size: 25px
      width: 644px
    &__h2
      font-size: 21px
      width: 581px
    &__main
      width: 1043px
      padding: 12px 11px 24px 35px
      &-left
        width: 722px

//@media screen and (max-width: 1024px)
//  .life-space
//    &__main


