.life-space
  .life-space__title
    .life-space__title-bg
    .life-space__title-text
      h1.life-space__h1 FAVBET підтримує програму Громадської спілки «Центр відповідальної гри»
      h2.life-space__h2 «Впровадження в Україні соціальних послуг для людей з ризиком ігрової залежності»
  .life-space__main

    .life-space__main-left
      section.life-space__main-info
        h3.life-space-h3 Кваліфікована допомога гравцям, що прагнуть повернути життєвий баланс
        p.life-space-txt FAVBET як соціально відповідальна компанія стала Генеральним партнером комплексного проєкту з впровадження в Україні соціальних послуг для людей з ризиком ігрової залежності. У 2024 році в рамках цього проєкту за підтримки компаній-партнерів в Україні відкрився перший філіал «Простір життя. Life Space» — спеціалізованого центру, що надає допомогу гравцям та їхнім сім’ям у подоланні ігрової залежності, а також формує культуру відповідального ставлення до гри.
        p.life-space-txt Створений як результат ефективної співпраці громадськості, держави та бізнес-сектору,  «Простір життя. Life Space» є важливою віхою у розбудові в Україні комплексної системи запобігання ігровій залежності, що охоплює просвітницьку роботу, медичну допомогу та підтримку реінтеграції в суспільство.

        h3.life-space-h3 Про Центр «Простір життя. Life Space»
        p.life-space-txt «Простір життя. Life Space» — центр соціально-психологічної підтримки, створений ГС «Центр відповідальної гри» в межах спільного проєкту з Міністерством соціальної політики України за підтримки відповідального українського бізнесу та компаній-партнерів.
        p.life-space-txt Це безпечний простір для гравців і їхніх сімей, де можна отримати кваліфіковану допомогу та необхідні ресурси для повернення до повноцінного  життя. Завдання спеціалістів Центру — не лише своєчасна діагностика, але й розробка індивідуальних програм відновлення, які сприяють психологічним змінам та формують стійку мотивацію до одужання.
        p.life-space-txt Окрім психологічної підтримки, в Центрі можна отримати юридичну консультацію щодо включення у Реєстр осіб, яким обмежено доступ до гральних закладів, а також з низки інших пов’язаних питань.
        p.life-space-txt Також тут регулярно проходять науково-освітні проєкти, спрямовані на профілактику лудоманії та підвищення обізнаності щодо її ризиків серед громадськості.
        p.life-space-txt В «Просторі життя. Life Space» добре розуміють чутливість проблематики ігрової залежності, тому всі послуги тут надаються зі збереженням конфіденційності та повагою до особистого життя відвідувачів.

        h3.life-space-h3 Послуги та ресурси
        p.life-space-txt «Простір життя. Life Space» завжди відкритий для людей, що прагнуть повернути контроль над своїм захопленням, їхніх родичів та близьких, а також громадських активістів, які цікавляться проблематикою запобігання лудоманії.

        ul.life-space__services Послуги Центру охоплюють:
          li.life-space__services-item Детальну діагностику причин та рівня залежності;
          li.life-space__services-item Розробку персоналізованих планів відновлення;
          li.life-space__services-item Психологічні тренінги для зміцнення внутрішнього ресурсу та підвищення мотивації до одужання;
          li.life-space__services-item Підтримку в поверненні до соціуму та настанови щодо запобігання повторних проявів лудоманії;
          li.life-space__services-item Освітні заходи з підвищення обізнаності про проблеми залежності, включаючи лекції та інформаційні кампанії для громадськості.

        h3.life-space-h3 Соціальне значення
        p.life-space-txt «Простір життя. Life Space» — один з перших прикладів в історії українського грального ринку, коли бізнес, держава та громадськість об’єднуються проти проблеми, що багато років залишалась в тіні.
        p.life-space-txt В азартних розвагах дійсно існує ризик залежності, однак багаторічний міжнародний досвід доводить — цей ризик можна мінімізувати за умови розумного регулювання, врахування інтересів гравців та відкритого діалогу між усіма сторонами.
        p.life-space-txt FAVBET продовжить підтримувати державні ініціативи та спільний проєкт, що спрямовані на захист здоров’я та добробуту гравців. Разом з тим, ми залишаємось відданими впровадженню дієвих механізмів самоконтролю на власних ресурсах, щоб убезпечити користувачів від ризиків ігрової залежності.
        p.life-space-txt Закликаємо всіх, хто стикається з викликами лудоманії, не замикатись, а шукати професійну та ефективну допомогу. «Простір життя. Life Space» готовий стати вашим надійним провідником на шляху до кращої якості життя. Відповідальна гра починається з відповідального вибору, тому не зволікайте звернутися за підтримкою.

      section.life-space__main-contacts
        .life-space__contacts-top
          .life-space__contacts-item
            .life-space__contacts-name Центр приймає відвідувачів за адресою:
            .life-space__contacts-info
              .life-space__contacts-img.life-space__contacts-geo
              a(href="https://www.google.com/maps/place/%D0%9F%D1%80%D0%BE%D1%81%D1%82%D1%96%D1%80+%D0%B6%D0%B8%D1%82%D1%82%D1%8F/@50.4428301,30.4999781,17z/data=!4m15!1m8!3m7!1s0x40d4cef156ee33a1:0x4f147dc391b434cc!2z0LLRg9C70LjRhtGPINCd0LDQt9Cw0YDRltCy0YHRjNC60LAsIDExLCDQmtC40ZfQsiwgMDIwMDA!3b1!8m2!3d50.4428301!4d30.4999781!16s%2Fg%2F11b8v5yqjm!3m5!1s0x40d4cf58670928c3:0xdfc72f693ceae151!8m2!3d50.4428301!4d30.4999781!16s%2Fg%2F11y3s3ts5n?entry=ttu&g_ep=EgoyMDI0MTAwMi4xIKXMDSoASAFQAw%3D%3D" target="_blank").life-space__contacts Київ, вул. Назарівська, 11

          .life-space__contacts-item
            .life-space__contacts-name Гаряча лінія:
            .life-space__contacts-info
              .life-space__contacts-img.life-space__contacts-phone
              a(href="tel:0800336105").life-space__contacts 0 800 336 105

        .life-space__contacts-bottom
          .life-space__contacts-item.life-space__contacts-social
            .life-space__contacts-name Cоцмережі центру соціально-психологічної підтримки «Простір життя»:
            .life-space__contacts-info
              a(href="https://www.facebook.com/profile.php?id=61557439454388" target="_blank").life-space__contacts-img.life-space__contacts-facebook
              a(href="https://www.instagram.com/lifespace_center/" target="_blank").life-space__contacts-img.life-space__contacts-instagram

    .life-space__main-right
      img(src="./img/life-space-logo.svg" alt="Life space logo").life-space-logo







